!!! 5
%html
  %head
    %title
      Daily Poll
    
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag 'favicon.ico'

    = csrf_meta_tags
    %link{ href: 'http://fonts.googleapis.com/css?family=Arvo:400,700', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Open+Sans:400,700,600', rel: 'stylesheet', type: 'text/css' }
    %meta{ name: "viewport", content: "initial-scale=1, maximum-scale=1" }

%body

  - flash.each do |type, msg|
    %p= msg
  = yield